@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

/* Title of page */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 30px;
    font-size: 0.7rem;
}

/* Buttons */
.container1 {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 20px 30px;
    justify-content: center;
}
.button  {
    margin: 0 10px;
    border-radius: 10px;
    width: 100px;
    height: 33px;
}
.button:hover{
    background-color: rgb(218, 199, 199);
    opacity:1;
}

.button:active{
    background-color: rgb(218, 199, 199);
    opacity:0.7;
}

.activated {
    border-color: rgb(15, 176, 168);
}

.inactive {
    border-color: rgba(255, 255, 255, 0);
}




/* Announcer */
.announce{
    margin: 10px 30px;
    padding: 8px;
    border: 5px solid #f20055;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.smalltitle{
    font-size: 0.7rem;
}
.content{
    font-size: 0.9rem;
    font-weight: 500;
}
.thisweekpart{
    width: 40vw;
    margin: 10px;
}
.prevnextweekpart {
    width: 40vw;
    margin: 10px;
}
ul{
    list-style: none;
    text-indent: 15px;
}
li {
    font-size: 0.9rem;
}
.noncombustible{
    color: rgb(0, 149, 255);
    font-size: 0.7rem;
}
.combustible{
    color: rgb(235, 151, 5);
    font-size: 0.7rem;
}
.petbottle{
    color: rgb(190, 62, 254);
    font-size: 0.7rem;
}
.aluminumcan{
    color: rgb(121, 121, 121);
    font-size: 0.7rem;
}
.glassbottle{
    color: rgb(16, 194, 0);
    font-size: 0.7rem;
}
.cardboard{
    color: rgb(112, 71, 0);
    font-size: 0.7rem;
}



/* Footer of the page */
.foot{
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
}
